:root {
    --background-1: rgb(192, 227, 194);
    --background-2: rgb(255, 255, 255);
    --background-3: rgb(244, 244, 244); 
    --shadow-color: rgb(34, 123, 83);
    --background-button: rgb(28, 131, 75);
    --title-color-1: rgb(15, 35, 58);
    --text-color: rgb(30, 30, 30);
    --title-color-3: rgb(7, 5, 20);
} 

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}
.section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 640px;
    background-color: rgb(144, 124, 133);
    .s1-wrap {
        width: 100%;
        max-width: 1180px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        text-align: center;
        .title {
            font-size: 96px;
            font-weight: 700;
            color: #FFFFFF;
        }
        .text {
            font-size: 28px;
            max-width: 980px;
            margin: 0 auto;
            color: rgb(250, 239, 246);
        }
        .button-cta {
            width: 420px;
            margin: 0 auto;
            height: 60px;
            background-color: var(--background-button);
            text-align: center;
            align-content: center;
            border-radius: 50px;
            font-size: 28px;
            color: #FFFFFF;
        }
    }
}
.section2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 680px;
    background-color: var(--background-1);
    .s2-wrap {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1180px;
        gap: 30px;
        text-align: center;
        .s2-head {
            font-size: 64px;
            color: var(--title-color-3);
            font-weight: 700;
            max-width: 600px;
            margin: 0 auto;
        }
        .s2-body {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            .s2-box {
                display: flex;
                width: 272px;
                background-color: var(--background-2);
                flex-direction: column;
                gap: 15px;
                padding: 20px 0;
                border-radius: 20px;
                box-shadow: 6px 6px var(--shadow-color);
                transition: all 0.3s ease-in-out;
                &:hover {
                    transform: translateY(-10px);
                    box-shadow: 12px 12px var(--shadow-color);
                    background-color: #ffffff;
                }
                .icon {
                    img {
                        width:auto;
                        height: 75px;
                    }
                }
                .title {
                    font-size: 24px;
                    color: var(--title-color-1);
                    width: 200px;
                    margin: 0 auto;
                    font-weight: 600;
                }
                .text {
                    font-size: 18px;
                    color: var(--text-color);
                    width: 85%;
                    margin: 0 auto;
                }
            }
        }
    }
}
.section3 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 480px;
    background-color: var(--background-2);
    .s3-wrap {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1180px;
        gap: 30px;
        text-align: center;
        .s3-head {
            font-size: 64px;
            color: var(--title-color-3);
            font-weight: 700;
            max-width: 950px;
            margin: 0 auto;
        }
        .s3-body {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            .s3-box {
                display: flex;
                width: 372px;
                background-color: var(--background-2);
                flex-direction: column;
                gap: 15px;
                padding: 20px 0;
                border-radius: 20px;
                box-shadow: 6px 6px var(--shadow-color);
                transition: transform 0.3s ease, box-shadow 0.3s ease;
                &:hover {
                    transform: translateY(-10px); 
                    box-shadow: 12px 12px var(--shadow-color); 
                    background-color: #ffffff;
                }
                .icon {
                    img {
                        width:auto;
                        height: 60px;
                    }
                }
                .title {
                    font-size: 24px;
                    color: var(--title-color-1);
                    width: 95%;
                    margin: 0 auto;
                    font-weight: 600;
                }
                .text {
                    font-size: 18px;
                    color: var(--text-color);
                    width: 95%;
                    margin: 0 auto;
                }
            }
        }
    }
}
.section4 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 420px;
    background-color: var(--background-1);
    .s4-wrap {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1180px;
        text-align: center;
        gap: 30px;
        .title {
            font-size: 48px;
            color: var(--title-color-3);
            font-weight: 700;

        }
        .button-cta {
            width: 420px;
            margin: 0 auto;
            height: 60px;
            background-color: var(--background-button);
            text-align: center;
            align-content: center;
            border-radius: 50px;
            font-size: 28px;
            color: #FFFFFF;
        }
    }
}
@media screen and (max-width: 1200px) {
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter";
}
.section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 640px;
    background-color: rgb(144, 124, 133);
    .s1-wrap {
        width: 100%;
        max-width: 900px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        text-align: center;
        .title {
            font-size: 70px;
            font-weight: 700;
            color: #FFFFFF;
        }
        .text {
            font-size: 25px;
            max-width: 980px;
            margin: 0 auto;
            color: rgb(250, 239, 246);
        }
        .button-cta {
            width: 400px;
            margin: 0 auto;
            height: 50px;
            background-color: var(--background-button);
            text-align: center;
            align-content: center;
            border-radius: 50px;
            font-size: 28px;
            color: #FFFFFF;
        }
    }
}
.section2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 680px;
    background-color: var(--background-1);
    .s2-wrap {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 900px;
        gap: 30px;
        text-align: center;
        .s2-head {
            font-size: 58px;
            color: var(--title-color-3);
            font-weight: 700;
            max-width: 600px;
            margin: 0 auto;
        }
        .s2-body {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            .s2-box {
                display: flex;
                width: 200px;
                background-color: var(--background-2);
                flex-direction: column;
                gap: 15px;
                padding: 20px 0;
                border-radius: 20px;
                box-shadow: 6px 6px var(--shadow-color);
                .icon {
                    img {
                        width:auto;
                        height: 75px;
                    }
                }
                .title {
                    font-size: 20px;
                    color: var(--title-color-1);
                    width: 90%;
                    margin: 0 auto;
                    font-weight: 600;
                }
                .text {
                    font-size: 16px;
                    color: var(--text-color);
                    width: 95%;
                    margin: 0 auto;
                }
            }
        }
    }
}
.section3 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 680px;
    background-color: var(--background-2);
    .s3-wrap {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 900px;
        gap: 30px;
        text-align: center;
        .s3-head {
            font-size: 58px;
            color: var(--title-color-3);
            font-weight: 700;
            max-width: 850px;
            margin: 0 auto;
        }
        .s3-body {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            .s3-box {
                display: flex;
                width: 350px;
                background-color: var(--background-2);
                flex-direction: column;
                gap: 15px;
                padding: 20px 0;
                border-radius: 20px;
                box-shadow: 6px 6px var(--shadow-color);
                .icon {
                    img {
                        width:auto;
                        height: 60px;
                    }
                }
                .title {
                    font-size: 20px;
                    color: var(--title-color-1);
                    width: 95%;
                    margin: 0 auto;
                    font-weight: 600;
                }
                .text {
                    font-size: 16px;
                    color: var(--text-color);
                    width: 95%;
                    margin: 0 auto;
                }
            }
        }
    }
}
.section4 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 420px;
    background-color: var(--background-1);
    .s4-wrap {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 900px;
        text-align: center;
        gap: 30px;
        .title {
            font-size: 40px;
            color: var(--title-color-3);
            font-weight: 700;

        }
        .button-cta {
            width: 400px;
            margin: 0 auto;
            height: 50px;
            background-color: var(--background-button);
            text-align: center;
            align-content: center;
            border-radius: 50px;
            font-size: 28px;
            color: #FFFFFF;
        }
    }
}
    
}
@media screen and (max-width: 910px) {
.section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    background-color: rgb(144, 124, 133);
    .s1-wrap {
        width: 100%;
        max-width: 375px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-align: center;
        .title {
            font-size: 40px;
            font-weight: 700;
            color: #FFFFFF;
        }
        .text {
            font-size: 18px;
            max-width: 375px;
            margin: 0 auto;
            color: rgb(250, 239, 246);
        }
        .button-cta {
            width: 240px;
            margin: 0 auto;
            height: 50px;
            background-color: var(--background-button);
            text-align: center;
            align-content: center;
            border-radius: 50px;
            font-size: 18px;
            color: #FFFFFF;
        }
    }
}
.section2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1100px;
    background-color: var(--background-1);
    .s2-wrap {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 375px;
        gap: 24px;
        text-align: center;
        .s2-head {
            font-size: 30px;
            color: var(--title-color-3);
            font-weight: 700;
            max-width: 600px;
            margin: 0 auto;
        }
        .s2-body {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            .s2-box {
                display: flex;
                width: 100%;
                background-color: var(--background-2);
                flex-direction: column;
                gap: 15px;
                padding: 20px 0;
                border-radius: 20px;
                box-shadow: 6px 6px var(--shadow-color);
                .icon {
                    img {
                        width:auto;
                        height: 75px;
                    }
                }
                .title {
                    font-size: 20px;
                    color: var(--title-color-1);
                    width: 95%;
                    margin: 0 auto;
                    font-weight: 600;
                }
                .text {
                    font-size: 16px;
                    color: var(--text-color);
                    width: 95%;
                    margin: 0 auto;
                }
            }
        }
    }
}
.section3 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 780px;
    background-color: var(--background-2);
    .s3-wrap {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 375px;
        gap: 30px;
        text-align: center;
        .s3-head {
            font-size: 30px;
            color: var(--title-color-3);
            font-weight: 700;
            max-width: 375px;
            margin: 0 auto;
        }
        .s3-body {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            .s3-box {
                display: flex;
                width: 100%;
                background-color: var(--background-2);
                flex-direction: column;
                gap: 15px;
                padding: 20px 0;
                border-radius: 20px;
                box-shadow: 6px 6px var(--shadow-color);
                .icon {
                    img {
                        width:auto;
                        height: 60px;
                    }
                }
                .title {
                    font-size: 20px;
                    color: var(--title-color-1);
                    width: 95%;
                    margin: 0 auto;
                    font-weight: 600;
                }
                .text {
                    font-size: 16px;
                    color: var(--text-color);
                    width: 95%;
                    margin: 0 auto;
                }
            }
        }
    }
}
.section4 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 240px;
    background-color: var(--background-1);
    .s4-wrap {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 375px;
        text-align: center;
        gap: 30px;
        .title {
            font-size: 30px;
            color: var(--title-color-3);
            font-weight: 700;

        }
        .button-cta {
            width: 240px;
            margin: 0 auto;
            height: 50px;
            background-color: var(--background-button);
            text-align: center;
            align-content: center;
            border-radius: 50px;
            font-size: 18px;
            color: #FFFFFF;
        }
    }
}
    
}